@import './variable.scss';
.ant-btn {
    &.button {
        @include button;
        &.blue {
            background-color: #80AFCC;
            border: 1px solid #3082AB;
            background-image: linear-gradient(90deg , rgb(125,169,190) 0%, rgb(174,217,241) 100%);
            color: #135E83;
            text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
            box-shadow: inset 0px 0px 1px rgba(61,150,185,1);
            &:hover {
                background-color: #AED1E7;
                background-image: linear-gradient(90deg , rgb(152,193,216) 0%, rgb(193,222,239) 100%);
            }
            .anticon-edit {
                vertical-align: 0;
            }
            @include w767 {
                width: auto;
            }
        }
        &.disabled {
            justify-content: center;
            color: #fff;
            &:hover {
                color: #fff;
                @include background_color(#ed7d31);
            }
        }
        &.back {
            @include background_color(#8aa0d7);
            @include display_flex_center;
            span {
                margin-left: 0;
                margin-right: 10px;
            }
            &:hover {
                color: #000;
                @include border_color(#6868ea);
            }
        }
        &.login-form-button {
            background: #84cef0;
            color: #185ddd;
            font-weight: 500;
            width: 100%;
        }
        &.gray {
            background-color: #ABB0BD;
            border: 1px solid #65676F;
            background-image: linear-gradient(90deg , rgb(166,171,184) 0%, rgb(207,210,218) 100%);
            color: #53576B;
            text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
            box-shadow: inset 0px 0px 1px rgba(121,123,130,1);
            &:hover {
                background-color: #C0C3CD;
                background-image: linear-gradient(90deg , rgb(178,183,199) 0%, rgb(220,223,234) 100%);
            }
        }
        &.green {
            background-color: #85DD7C;
            border: 1px solid #158D34;
            background-image: linear-gradient(90deg , rgb(112,201,101) 0%, rgb(182,237,176) 100%);
            color: #1d7819;
            text-shadow: rgba(254,252,252,0.5) 0px 1px 0px;
            box-shadow: inset 0px 0px 1px rgba(26,154,72,1);
            &:hover {
                background-color: #A7ED9E;
                background-image: linear-gradient(90deg , rgb(138,211,129) 0%, rgb(204,237,200) 100%);
            }
            
        }
        &.white {
            background-color: #E2E5EC;
            border: 1px solid #8E98A9;
            background-image: linear-gradient(90deg , rgb(214,219,223) 0%, rgb(244,244,248) 100%);
            color: #444D59;
            text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
            box-shadow: inset 0px 0px 1px rgba(160,170,184,1);
            &:hover {
                background-color: #EAEAF0;
                background-image: linear-gradient(90deg , rgb(229,235,240) 0%, rgb(249,248,255) 100%);
            }
        }
        &.orange {
            background-color: #F39C45;
            border: 1px solid #A87017;
            background-image: linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
            color: #A8580B;
            text-shadow: rgba(254,252,252,0.5) 0px 1px 0px;
            box-shadow: inset 0px 0px 1px rgba(184,129,39,1);
            &:hover {
                background-color: #EAB26C;
                background-image: linear-gradient(90deg , rgb(248,169,91) 0%, rgb(244,210,170) 100%);
            }
        }
        &.pink {
            background-color: #E25485;
            border: 1px solid #BF0F61;
            color: #AB1242;
            background-image: linear-gradient(90deg , rgb(216,73,119) 0%, rgb(238,143,178) 100%);
            text-shadow: rgba(254,252,252,0.5) 0px 1px 0px;
            box-shadow: inset 0px 0px 1px rgba(204,45,116,1);
            &:hover {
                background-color: #E979A5;
                background-image: linear-gradient(90deg , rgb(222,96,137) 0%, rgb(238,161,189) 100%);
            }
        }
        &.red {
            background-color: #D85257;
            border: 1px solid #951119;
            box-shadow: inset 0px 0px 1px rgba(167,32,35,1);
            background-image: linear-gradient(90deg , rgb(208,69,72) 0%, rgb(243,146,147) 100%);
            color: #A7000F;
            text-shadow: rgba(254,252,252,0.5) 0px 1px 0px;
            :hover {
                background-color: #F07D81;
                background-image: linear-gradient(90deg , rgb(216,90,93) 0%, rgb(243,167,169) 100%);
            }
        }
        &.purple {
            background-color: #9173EC;
            border: 1px solid #571DAC;
            color: #571DAC;
            text-shadow: rgba(254,252,252,0.5) 0px 1px 0px;
            font-weight: bolder;
            box-shadow: inset 0px 0px 1px rgba(124,87,191,1);
            background-image: linear-gradient(90deg , rgb(137,115,232) 0%, rgb(188,173,242) 100%);
            &:hover {
                background-color: #A88FEF;
                background-image: linear-gradient(90deg , rgb(154,135,235) 0%, rgb(199,188,242) 100%);
            }
        }
        &.yellow {
            background-color: #EBE584;
            border: 1px solid #A89917;
            box-shadow: inset 0px 0px 1px rgba(184,166,43,1);
            background-image: linear-gradient(90deg , rgb(233,220,126) 0%, rgb(246,241,180) 100%);
            color: #A78E0F;
            text-shadow: rgba(254,252,252,0.5) 0px 1px 0px;
            &:hover {
                background-color: #F1F09D;
                background-image: linear-gradient(90deg , rgb(237,227,150) 0%, rgb(246,242,199) 100%);
            }
        }
        &.black {
            background-color: #2D2D2D;
            border: 1px solid #000000;
            box-shadow: inset 0px 0px 1px rgba(0,0,0,1);
            background-image: linear-gradient(90deg , rgb(53,53,53) 0%, rgb(67,67,67) 100%);
            color: #FDFFFD;
            text-shadow: rgba(0,0,0,1) 0px 1px 0px;
            &:hover {
                background-color: #4C4C4C;
                background-image: linear-gradient(90deg , rgb(63,63,63) 0%, rgb(79,79,79) 100%);
            }
        }
        &.dark-grey {
            background-color: #848484;
            border: 1px solid #515151;
            box-shadow: inset 0px 0px 1px rgba(100,100,100,1);
            background-image: linear-gradient(90deg , rgb(127,127,127) 0%, rgb(166,166,166) 100%);
            color: #FFFFFF;
            text-shadow: rgba(78,78,78,1) 0px -1px 0px;
            font-weight: bolder;
            &:hover {
                background-color: #8E8E8E;
                background-image: linear-gradient(90deg , rgb(143,143,143) 0%, rgb(183,183,183) 100%);
            }
        }
    }
}
