.login-form-forgot {
    float: right;
}

.login {
    width: 100%;

    margin-right: auto;
    margin-left: auto;
    height: 100%;
    .login-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 24px;
        background: #fbfbfb;
        border: 1px solid #d9d9d9;
        border-radius: 20px;
        .ant-form-item-label {
            margin-top: -20px;
            height: 35px;
        }
        .ant-form-item-required {
            text-align: left;
            &::before {
                margin-left: 70px;
            }
        }
    }
}
.change-pass {
    width: 40%;
    padding-bottom: 2rem;
}
.layout {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    background-image: url('http://res.cloudinary.com/ds5zmvcyj/image/upload/v1593255086/fdl76kiusl2fyfarqe3y.jpg');
}
.ant-advanced-search-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}
.abc {
    background-image: url('http://res.cloudinary.com/ds5zmvcyj/image/upload/v1593255086/fdl76kiusl2fyfarqe3y.jpg');
}
