// Import Bootstrap and its default variables
@import 'mixins';

:root {
    --blue: #4e73df;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #e74a3b;
    --orange: #fd7e14;
    --yellow: #f6c23e;
    --green: #1cc88a;
    --teal: #20c9a6;
    --cyan: #36b9cc;
    --white: #fff;
    --gray: #858796;
    --gray-dark: #5a5c69;
    --primary: #4e73df;
    --secondary: #858796;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --danger: #e74a3b;
    --light: #f8f9fc;
    --dark: #5a5c69;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div:focus {
    outline: none;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

.avatar {
    display: flex;
    .box-avatar {
        width: 100px;
        height: 100px;
        background-color: antiquewhite;
        > div {
            text-align: center;
            padding-top: 24px;
        }
    }
    .upload {
        position: fixed;
        opacity: 0;
        width: 100px;
        height: 100px;
        cursor: pointer;
        > input {
            height: 100%;
            width: 100px;
            cursor: pointer;
        }
    }
}
body {
    margin: 0;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #fff;
    height: 100%;
}

[tabindex='-1']:focus {
    outline: 0 !important;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h4 {
    color: rgb(173, 23, 71);
    margin-top: 0;
    margin-bottom: 0.5rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

a {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #224abe;
    text-decoration: underline;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

pre,
code,
kbd,
samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-size: 1em;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #858796;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px !important;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
    cursor: pointer;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type='radio'],
input[type='checkbox'] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
    -webkit-appearance: listbox;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

summary {
    display: list-item;
    cursor: pointer;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #4472c4;
}

.container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

footer.sticky-footer {
    padding: 15px 0;
    flex-shrink: 0;
    border-top: 1px solid #ccc;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

footer.sticky-footer .copyright {
    line-height: 1;
    font-size: 0.8rem;
}

.container-fluid {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}
.login-layout {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    background-image: url('http://res.cloudinary.com/ds5zmvcyj/image/upload/v1593255086/fdl76kiusl2fyfarqe3y.jpg');
}

/* Header */
.navbar {
    padding: 0;
    #top-menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        padding: 2px 10px;
        background: #001529;
        .left {
            width: 50%;
            text-align: left;
            @include w320 {
                width: 100%;
            }
            img {
                width: 80px;
                height: 35px;
            }
        }
        .right {
            width: 50%;
            text-align: right;
            .color-fb {
                & > a {
                    color: #40a9ff;
                }
            }
            .menu-sm {
                display: none;
                @include w480 {
                    display: block;
                }
                @include w320 {
                    display: none;
                }
            }
            .menu-lg {
                @include w480 {
                    display: none;
                }
                @include w320 {
                    display: block;
                }
            }
            @include w320 {
                width: 100%;
                text-align: left;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            @include w480 {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
            }
            @include w320 {
                justify-content: flex-start;
            }
            li {
                display: inline-block;
                font-size: 12px;
                color: #fff;
                margin: 0 10px 5px;
                @include w480 {
                    margin: 0 5px 5px;
                }
                a,
                strong {
                    color: #fff;
                    font-weight: 700;
                    cursor: pointer;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

//----- modal window -----//
.App {
    &.ant-modal {
        .gutter-row {
            height: 50px;
        }
    }
}
.drop-right {
    display: list-item;
    text-align: right;
    right: 0;
    margin-top: -58px;
}
.link-change-pass {
    :hover {
        color: blue;
        text-decoration: underline;
    }
}

#app-pending {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.22);
    z-index: 1002;
    .loading {
        height: 100vh;
        .lds-roller {
            div {
                &:after {
                    background: #002950;
                }
            }
        }
    }
}

#total {
    border-radius: 15px;
    background: aquamarine;
    > div {
        text-align: center;
        > span {
            font-size: 25px;
        }
    }
}
.input-search {
    text-align: right;
}
.add-warehouses {
    text-align: right;
}
#action-edit {
    display: flex;
    .btn-save {
        color: #fb7095;
        background-color: #fcdee6;
        width: 80px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;
        border: 1px;
    }
    .btn-cancel {
        color: #5081f7;
        background-color: #dee5f6;
        display: inline-block;
        width: 80px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px;
    }
}

// style icon upload Files - start
.icon-PNG,
.icon-jpg,
.icon-png,
.icon-bmp,
.icon-gif {
    width: 20px;
    margin-right: 5px;
    display: inline-block;
    &::before {
        content: '\f1c5';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #15aabf;
    }
}
.icon-mov,
.icon-mp4,
.icon-flv,
.icon-wmv {
    width: 20px;
    margin-right: 5px;
    display: inline-block;
    &::before {
        content: '\f1c8';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #03071a;
    }
}
.icon-pptx,
.icon-ppt,
.icon-xml {
    width: 20px;
    margin-right: 5px;
    display: inline-block;
    &::before {
        content: '\f1c4';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #fd7e14;
    }
}
.icon-pdf {
    width: 20px;
    margin-right: 5px;
    display: inline-block;
    &::before {
        content: '\f1c1';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #c5c727;
    }
}
.icon-doc,
.icon-docx {
    width: 20px;
    margin-right: 5px;
    display: inline-block;
    &::before {
        content: '\f1c2';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #041664;
    }
}
// style icon upload Files - end
.create-issue,
.edit-issue,
.edit-profile {
    .ant-form-item {
        margin-bottom: 10px;
    }
    .ck-content {
        min-height: 135px;
        p {
            margin-bottom: 2px;
        }
        ul {
            li {
                margin-bottom: 2px;
            }
        }
    }
    .ant-picker {
        width: 100%;
    }
}
.login {
    width: 300px;
    padding: 3rem 0 0 0;
}
.user-list {
    margin-top: 30px;
    .ant-form-item {
        margin-bottom: unset;
    }
    .ant-pagination-item {
        @include w320 {
            min-width: 28px;
        }
    }
    .box-birthday {
        .ant-picker {
            input {
                @include w1366 {
                    width: 75px;
                }
            }
        }
    }
}

// unset label of ant-checkbox in table
.ant-checkbox-wrapper {
    width: unset;
}

// Prevent whitespace after the ant-table when change monitor size.
.ant-table-content {
    overflow-x: overlay;
}
.ant-table-container {
    &::after,
    &::before {
        box-shadow: none !important;
    }
}

// set min height for screen all (fix footer) - start
.ant-layout-content {
    min-height: calc(100vh - 75px) !important;
}
// set min height for screen all (fix footer) - end

// reponsive notification
.ant-notification-notice {
    @include w480 {
        padding: 15px 10px !important;
        width: calc(100% - 25px);
        margin-left: 35px;
    }
    @include w320 {
        width: 100% !important;
        margin-left: 12px;
    }
    .ant-notification-notice-description {
        @include w320 {
            font-size: 13px !important;
        }
    }
}
.abc {
    background-image: url('http://res.cloudinary.com/ds5zmvcyj/image/upload/v1593255086/fdl76kiusl2fyfarqe3y.jpg')
        no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
