@import 'mixins';

.breadcrumb {
    margin: 12px 12px;
    background: #001529;
    padding-left: 10px;
}
.ant-layout-sider-children .ant-menu > li > span > a {
    &:hover {
        text-decoration: none !important;
    }
}
