@mixin h-w-100 {
    width: 100%;
    height: 100%;
}
@mixin focusNone {
    outline: none;
    box-shadow: none;
}
.carousel-preview {
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    .carousel-view {
        height: calc(100vh - 100px);
        position: relative;
        .action-info {
            position: absolute;
            top: 15px;
            left: 30px;
            width: 100%;
            display: flex;
            justify-content: start;
            li {
                color: #fff;
                margin-right: 30px;
                display: flex;
                align-items: center;
                a { color: #fff; text-decoration: none; }
                span {
                    margin-left: 10px;
                }
            }
        }
        .box-view {
            @include h-w-100;
            padding: 50px;
            display: flex;
            .item-view {
                @include h-w-100;
                display: none;
                animation-name: fade;
                animation-duration: 1.5s;
            }
            @-webkit-keyframes fade {
                from {opacity: .4} 
                to {opacity: 1}
            }
            @keyframes fade {
                from {opacity: .4} 
                to {opacity: 1}
            }
            .selected { display: block; }
            .image {
                @include h-w-100;
                overflow: hidden;
                display: flex;
                justify-content: center;
                img {
                    height: 100%;
                    width: auto;
                }
            }
            div.video {
                position: relative;
                width: 80%;
                height: 100%;
                padding-top: 35%;
                margin: auto;
                video {
                    position:  absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100% !important;
                    height: 100% !important;
                }
            }
        }
        button.btn-arrow {
            position: absolute;
            top: 0;
            height: 100%;
            width: 44px;
            background-color: transparent;
            border: none;
            opacity: 0.5;
            &::before {
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                color: #15aabf;
                font-size: 50px;
                border: none;
            }
            &:hover {
                opacity: 1;
            }
            &:focus {
                @include focusNone;
            }
            &:disabled {
                cursor: not-allowed;
            }
        }
        button.prev {
            left: 0;
            &::before {
                content: '\f053';
            }
        }
        button.next {
            right: 0;
            &::before {
                content: '\f054';
            }
        }
    }
    .thumbs-view {
        padding: 0 40px;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        .box-thumbs {
            padding: 0;
            margin: 0;
            overflow-x: auto;
            white-space: nowrap;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
                display: none;
            }
            .thumb-item {
                width: 80px;
                height: 80px;
                margin-right: 10px;
                opacity: 0.5;
                border: 1px solid #ccc;
                overflow: hidden;
                display: inline-block;
                cursor: pointer;
                &.active {
                    opacity: 1;
                }
                .box {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    img, video {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        .view-all {
            width: 100px;
            height: 80px;
            font-size: 30px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            i { margin-top: -5px; }
        }
    }
}

.modal-view {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 30px;
    background-color: #000;
    transition: 0.5s ease-in-out;
    opacity: 0;
    &.show {
        position: fixed;
        opacity: 1;
    }
    button {
        position: absolute;
        top: 0;
        right: 5px;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 20px;
        height: fit-content;
        &:focus { outline: none; }
    }
    #box-view-all {
        height: 100%;
        padding: 0;
        overflow-y: auto;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &::-webkit-scrollbar {
            display: none;
        }
        li {
            width: 20%;
            height: calc((100vw - 65px) / 5);
            .box {
                width: 100%;
                height: 100%;
                padding: 5px;
                div {
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    cursor: pointer;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                }
                img, video {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}