@import 'mixins';
.profile {
    height: calc(100vh - 106px) !important;
    overflow: auto;
    background-color: #f0f0f0;
    height: 100%;
    @include w480 {
        padding: 0 15px !important;
    }
    @include w320 {
        height: calc(100vh - 140px);
    }
    .ant-row {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        & > .ant-col {
            @include w768 {
                width: 100%;
            }
        }
    }
    .info-profile {
        padding-left: 0;
        background-color: #fff;
        margin-top: 55px;
        & > li {
            display: block;
            padding: 15px;
            border-bottom: 1px solid #ccc;
            & > span {
                width: 40%;
                display: inline-block;

                & > i {
                    padding-right: 10px;
                    color: #40a9ff;
                }
            }
            &:first-child {
                background-color: #f8f9fc;
                font-size: 22px;
                color: #333;
            }
        }
    }
    & > a {
        display: block;
        text-align: center;
        margin-top: 20px;
    }
}

.user-profile .photo {
    max-height: 300px;
    overflow: hidden;
}
.user-profile .photo img {
    width: 100%;
}
.user-profile .bottom {
    background-color: #fff;
    position: relative;
    padding: 50px 30px 25px 270px;
    height: 200px;
    display: flex;
    align-items: center;
}
.user-profile .bottom .user-avatar {
    position: absolute;
    left: 46px;
    top: 0;
    @include w480 {
        left: 10px;
    }
}
.user-profile .bottom > div {
    display: inline-block;
    @include w480 {
        position: absolute;
        right: 10px;
        height: 100%;
        display: flex;
        align-items: center;
    }
}
.user-profile .bottom .user-avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #fff;
}
