@import 'mixins';
#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout .site-layout-background {
    background: #fff;
    background-image: url('http://res.cloudinary.com/ds5zmvcyj/image/upload/v1593232074/rptqflzlrgffwima9s7y.jpg');
    height: 100%;
    //opacity: 0.5;
}
.gutter-row {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
}
.bill-footer {
    padding-bottom: 10px;
}
.site-page-header {
    background: rgb(255, 255, 255);
    padding: 24px;
    background-image: url('http://res.cloudinary.com/ds5zmvcyj/image/upload/v1593228113/hqmwve5u0a7m7wmpq0wb.png');
}
.layout {
    background: #fff;
}
