// Import Bootstrap and its default variables
@import 'mixins';

.logo-pc {
    display: block;
    width: 185px;
    position: relative;
    @include w767 {
        display: none;
    }
}

.logo-mb {
    display: none;
    @include w767 {
        display: block;
        width: 112px;
        height: 49px;
    }
}

.ant-menu.ant-menu-sub.ant-menu-inline {
    @include w767 {
        position: inherit;
        left: 100%;
        border: 1px solid rgb(208, 211, 214);
        min-width: 6rem;
        font-size: 0.85rem;
        z-index: 1;
        background: #f0f3f7;
        border-radius: 5px;
    }
    @include w414 {
        min-width: 5rem;
    }
}
.ant-menu-item {
    @include w767 {
        padding: 0px !important;
        text-align: center;
    }
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg {
    @include w767 {
        display: none;
    }
}

.box-custom-pages {
    .sub-text {
        @include w823 {
            font-size: 13px;
            margin-top: 15px;
        }
        @include w768 {
            font-size: 13px;
            margin-top: 15px;
        }
    }
}

.tenants-text {
    @include w414 {
        font-size: 13px;
    }
    @include w375 {
        font-size: 11px;
    }
}
.ant-menu-submenu.ant-menu-submenu-inline {
    @include w767 {
        height: 65px;
        .ant-menu-submenu-title {
            height: 65px !important;
            line-height: 22px !important;
        }
    }
}
.ant-menu-submenu-arrow {
    display: block;
    @include w767 {
        display: none;
    }
}
.iconMenu {
    .anticon.anticon-menu {
        margin: 30px;
        color: white;
        font-size: 30px;
        @include w414 {
            margin: 8px;
            font-size: 20px;
        }
    }
}
.nav-link.dropdown-toggle {
    img {
        @include w414 {
            width: 20px;
            height: 20px;
        }
    }
}
.sidebar .nav-item .nav-link .img-profile,
.topbar .nav-item .nav-link .img-profile {
    height: 2rem;
    width: 2rem;
    @include w414 {
        width: 1.5rem;
        height: 1.5rem;
    }
}
// css transform menu

@include mw767 {
    .sidebar-close {
        &.sidebar {
            width: 6.5rem !important;
            min-height: 100vh;
            .logo-mb {
                display: block;
                width: 112px;
                height: 49px;
            }

            .logo-pc {
                display: none;
            }

            .ant-menu-submenu.ant-menu-submenu-inline {
                height: 65px;
                .ant-menu-submenu-title {
                    height: 65px !important;
                    line-height: 22px !important;
                }
            }

            .sidebar-brand {
                padding: 1.5rem 3.55rem;
            }

            .nav-item .nav-link span {
                font-size: 0.65rem;
                display: block;
            }

            .nav-item .nav-link {
                text-align: center;
                padding: 0.75rem 1rem;
                width: 6.5rem;
            }

            .nav-item .nav-link i {
                margin-right: 0;
            }

            .ant-menu-submenu-arrow {
                display: none;
            }

            .nav-link.collapsed.ant-dropdown-link {
                .menuBarIcon {
                    justify-content: space-evenly;
                }
                i {
                    margin-bottom: 8px;
                }
                .anticon.anticon-right {
                    display: none;
                }
            }
        }
    }
}

@include w767 {
    .sidebar .nav-item {
        display: block;
    }
    .sidebar-close {
        &.navbar-nav.sidebar {
            display: block;
        }
    }

    &.navbar-nav.sidebar {
        display: none;
    }
}

.nav-link.collapsed.ant-dropdown-link {
    .menuBarIcon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include w767 {
            justify-content: space-evenly;
        }
    }
    padding: 10px;
    .menuSubBarIcon {
        padding: 10px 7px;
    }
    i {
        @include w767 {
            margin-bottom: 8px;
        }
    }
    .anticon.anticon-right {
        font-size: 12px;
        display: inline;
        @include w767 {
            display: none;
        }
    }
}

.box-custom-pages {
    .card-body {
        .ant-table-tbody {
            > tr {
                > td {
                    &:last-child {
                        @include w360 {
                            border-right: 10px solid #fff;
                        }
                    }
                    &:first-child {
                        @include w360 {
                            border-left: 10px solid #fff;
                        }
                    }
                }
            }
        }
    }
}
.ant-select {
    .ant-select-arrow {
        @include w667 {
            padding-left: 2px;
            font-size: 11px !important;
            border: 0px;
        }
    }
}

.seach {
    @include w480 {
        display: grid;
    }
    .ant-select {
        @include w768 {
            width: 205px;
        }
        @include w568 {
            width: 200px;
        }
        @include w360 {
            width: 170px;
        }
    }
    .primary-btn-div {
        @include w480 {
            margin: 0 0 0 253px;
        }
        @include w414 {
            margin: 0 0 0 255px;
        }
        @include w375 {
            margin: 0 0 0 244px;
        }
        @include w360 {
            margin: 0 0 0 190px;
        }
    }
    .text-select {
        @include w568 {
            font-size: 13px;
            width: 125px;
        }
        @include w375 {
            width: 14vh;
        }
    }
}

.ant-row {
    .ant-col {
        .ant-col-6 {
            width: none;
        }
    }
    .ant-btn {
        @include w823 {
            font-size: 12px;
        }
    }
}

.button-custom01 {
    span {
        &:last-child {
            @include w480 {
                display: none;
            }
        }
        &:first-child {
            @include w480 {
                margin-right: 0 !important;
            }
        }
    }
}

.box-custom {
    &::before {
        @include w823 {
            width: 6px;
            left: 4px;
        }
        @include w667 {
            width: 2px;
            left: 0px;
            content: none;
        }
        @include w480 {
            width: 6px;
            left: 0px;
        }
        @include w375 {
            width: 6px;
            left: -10px;
        }
    }
}
@media (max-width: 568px) {
    .rle_awsagent_wrapper {
        max-height: 250px;
        overflow: auto;
        overflow-x: hidden;
        float: left;
        width: 100%;
        background-color: #ffffff;
        visibility: hidden;
    }

    .rle_awsagent_wrapper .status-list,
    .rle_awsagent_wrapper .status-list:hover,
    .rle_awsagent_wrapper .status-list:focus {
        visibility: visible;
    }

    .rle_awsagent_wrapper .item-list,
    .rle_awsagent_wrapper .item-list:hover,
    .rle_awsagent_wrapper .item-list:focus {
        visibility: visible;
    }

    .scrollbox_delayed:hover {
        visibility: visible;
        -o-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    .rle_awsagent_wrapper::-webkit-scrollbar {
        width: 6px;
        background-color: #f5f5f5;
    }

    .rle_awsagent_wrapper::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(to left, #96a6bf, #63738c);
        box-shadow: inset 0 0 1px 1px #5c6670;
    }

    .rle_awsagent_wrapper::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #eee;
        box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
    }

    .rle_awsagent_wrapper::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(to left, #8391a6, #536175);
    }
}

.custom-tab {
    .ant-table-wrapper {
        margin-top: -10px;
    }
    &.ant-tabs {
        &.ant-tabs-card {
            .ant-tabs-card-bar {
                .ant-tabs-tab {
                    @include w1024 {
                        font-size: 15px;
                        width: calc(100% / 3.5);
                        max-width: calc(100% / 3.5);
                    }
                    @include w823 {
                        width: calc(100% / 2.5);
                        max-width: calc(100% / 2.5);
                    }
                    @include w768 {
                        width: calc(100% / 2.5);
                        max-width: calc(100% / 2.5);
                    }
                    @include w480 {
                        font-size: 15px;
                        padding: 10px 15px;
                    }
                }
            }
        }
    }
    .border-icon-tabs {
        @include w480 {
            width: 25px;
            height: 25px;
            font-size: 13px;
        }
        &.right,
        &.left {
            @include w823 {
                top: 0.8vw;
            }
            @include w812 {
                top: 0.9vw;
            }
            @include w480 {
                top: 1.9vw;
            }
        }
        &.right {
            @include w480 {
                right: 2.6vw;
            }
        }
        &.left {
            @include w480 {
                left: 2.6vw;
            }
        }
    }
}

.custom-tab {
    &.ant-tabs {
        &.ant-tabs-card {
            &.tab-site {
                .ant-tabs-card-bar {
                    .ant-tabs-tab {
                        width: calc(100% / 4.5);
                        max-width: calc(100% / 4.5);
                        @include w1024 {
                            font-size: 15px;
                            width: calc(100% / 3.5);
                            max-width: calc(100% / 3.5);
                        }
                        @include w823 {
                            width: calc(100% / 2.5);
                            max-width: calc(100% / 2.5);
                        }
                        @include w768 {
                            width: calc(100% / 2.5);
                            max-width: calc(100% / 2.5);
                        }
                        @include w480 {
                            font-size: 15px;
                            padding: 10px 15px;
                        }
                    }
                }
            }
        }
    }
}

.box-custom-pages {
    .ant-pagination {
        &.ant-table-pagination {
            &.ant-pagination {
                @include w767 {
                    margin-bottom: 15px !important;
                }
            }
        }
        @include w767 {
            display: inline-block;
            width: 100%;
            text-align: center;
        }
        .ant-pagination-total-text {
            @include w767 {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
}

.box-custom-pages {
    h1 {
        font-size: 35px;
    }
}

.ring-container {
    @include w823 {
        margin-top: 1.5vw;
        margin-bottom: 0;
    }
    @include w768 {
        margin-top: 3vw;
    }
    .circle {
        @include w480 {
            width: 13px;
            height: 13px;
        }
    }
}
.ant-modal-wrap {
    .ant-modal {
        @include w1024 {
            width: 900px !important;
        }
        @include w823 {
            width: 650px !important;
        }
        @include w667 {
            width: 500px !important;
        }
        @include w480 {
            width: 400px !important;
        }
        @include w414 {
            width: 375px !important;
        }
    }
}

.btnClose {
    .closeName {
        @include w667 {
            font-size: 25px;
        }
        @include w480 {
            font-size: 20px;
        }
    }
}

.mb-0 {
    &.font-weight-bold {
        &.formatText {
            @include w1024 {
                font-size: 15px;
            }
            @include w640 {
                font-size: 14px;
            }
            @include w480 {
                font-size: 12px;
            }
        }
    }
}

.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 {
    @include w480 {
        font-size: 10px !important;
        margin-bottom: 3px;
    }
}

.ant-modal {
    .subContent {
        .subNameObjLeft {
            @include w1366 {
                width: 9vw;
            }
            @include w1024 {
                font-size: 15px;
            }
            @include w979 {
                width: 11vw;
                font-size: 14px;
            }
            @include w823 {
                width: 13vw;
            }
            @include w640 {
                font-size: 14px;
            }
            @include w568 {
                width: 15vw;
            }
            @include w480 {
                width: 20vw;
                font-size: 12px;
            }
            @include w414 {
                width: 23vw;
            }
            @include w375 {
                width: 27vw;
            }
        }
        .subNameObjRight {
            @include w1024 {
                font-size: 15px;
            }
            @include w640 {
                font-size: 14px;
            }
            @include w480 {
                font-size: 12px;
            }
        }
    }
}

.ant-modal {
    .contentJson {
        @include w767 {
            max-width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
        }
    }
}

.row-json {
    @include w736 {
        margin-top: 20px;
    }
    @include w480 {
        margin-top: 10px;
    }
}

.ant-modal {
    .cardJson {
        .nameObj {
            @include w1024 {
                font-size: 15px;
            }
            @include w480 {
                font-size: 12px;
            }
        }
    }
}

.ant-modal {
    .cardJson {
        .stickJson {
            @include w667 {
                width: 20px;
                height: 20px;
            }
            .borderJson {
                @include w667 {
                    margin-top: 9px;
                    margin-left: 4px;
                }
            }
        }
    }
    .contentJson {
        @include w667 {
            padding: 10px;
        }
        @include w480 {
            margin: 0;
        }
    }
}

.ant-modal {
    .subJson {
        @include w480 {
            display: inline-flex;
            margin-top: -10px;
        }
        @include w414 {
            margin-top: -20px;
        }
        .subCardJson {
            @include w667 {
                margin: 5px -20px -10px 70px;
            }
            @include w480 {
                margin: 5px -20px -10px 40px;
            }
            @include w375 {
                margin: 5px -20px -10px 55px;
            }
        }
    }
    .titleJson {
        span {
            @include w414 {
                font-size: 18px;
            }
        }
    }
}

.ant-modal {
    @include w480 {
        top: 5vw !important;
    }
}

.ant-modal-content {
    .card-body {
        @include w480 {
            padding: 0.25rem;
        }
        img {
            @include w480 {
                width: 25px;
            }
        }
    }
}

.ant-modal {
    .subJson {
        .subStickJson {
            @include w480 {
                width: 27px;
            }
        }
    }
}

.ant-modal {
    .cardJson {
        @include w480 {
            margin-bottom: 15px;
        }
        @include w414 {
            margin-bottom: 25px;
        }
    }
}

.ant-modal {
    .subJson {
        .subBorderJson {
            @include w480 {
                width: 5%;
            }
        }
    }
}

.ant-modal .ant-modal-close {
    @include w375 {
        margin: -15px -6px;
    }
}

.btnClose {
    @include w414 {
        margin-top: 15px;
    }
    .closeName {
        @include w919 {
        }
        @include w667 {
            width: 30%;
            font-size: 20px;
        }
        @include w375 {
            width: 40%;
        }
    }
}

.subJson {
    &:last-child {
        .subCardJson {
            &::before {
                @include w667 {
                    height: 30%;
                }
            }
        }
    }
}

.ant-modal .ant-row:nth-child(1) .ant-col:nth-child(1) .ant-col.ant-col-6.gutter-row {
    @include w640 {
        padding-right: 5px;
    }
}

.ant-modal .ant-row:nth-child(1) .ant-col:nth-child(2) .ant-col.ant-col-6.gutter-row {
    @include w640 {
        padding-left: 5px;
    }
}

// modal children
.ant-modal {
    &.modal-detail {
        @include w1024 {
            width: 400px !important;
        }
        @include w667 {
            width: 370px !important;
        }
        @include w480 {
            width: 320px !important;
        }
        @include w414 {
            width: 325px !important;
        }
        .btn-modal-custom2 {
            @include w767 {
                margin-top: 15px;
            }
            .btnClose {
                button {
                    @include w667 {
                        width: 100%;
                        font-size: 15px;
                    }
                    @include w640 {
                        font-size: 13px;
                    }
                }
            }
        }
        .test-modal-custom {
            @include w480 {
                font-size: 17px;
            }
        }
    }
}

.btn-close-detail {
    @include w667 {
        padding: 7px 40px;
    }
    @include w480 {
        padding: 7px 25px;
        font-size: 15px;
    }
}

.ant-modal {
    .button-run {
        img {
            width: 22px;
        }
    }
}

.border-line {
    @include w812 {
        padding-left: 25px !important;
    }
    @include w667 {
        padding-left: 24px !important;
    }
    @include w480 {
        padding-left: 22px !important;
    }
    &::before {
        @include w1024 {
            width: 11px;
        }
        @include w823 {
            width: 10px;
        }
        @include w812 {
            width: 6px;
        }
    }
}

// modal children

.btn-close-detail {
    @include w640 {
        height: 51px !important;
    }
}

.ant-popover-inner-content {
    @include w414 {
        max-height: 150px;
    }
}

.execution-page {
    .title-ex {
        @include w414 {
            font-size: 25px;
        }
        @include w375 {
            font-size: 23px;
        }
    }
}

.box-custom-pages {
    .card-body {
        .ant-table-tbody > tr > td {
            @include w768 {
                white-space: nowrap;
                max-width: 100% !important;
            }
        }
    }
}
