@import './mixins';
@mixin color_blue {
    color: #4e73df;
}
@mixin color_white {
    color: #fff;
}
@mixin color_black {
    color: #000;
}
@mixin color_gay {
    color: #8e8e8e;
}
@mixin color_red {
    color: #f00;
}
@mixin color($color) {
    color: $color;
}
@mixin background_color($color) {
    background-color: $color;
}
@mixin border_color($color) {
    border: 1px solid $color;
}
@mixin border_left_color($color) {
    border-left: 1px solid $color;
}
@mixin border_right_color($color) {
    border-right: 1px solid $color;
}
@mixin border_top_color($color) {
    border-top: 1px solid $color;
}
@mixin border_bottom_color($color) {
    border-bottom: 1px solid $color;
}
@mixin display_flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin display_flex_alight_center {
    display: flex;
    align-items: center;
}
@mixin justify_content($content) {
    justify-content: $content;
}
@mixin line_limit($line) {
    display: -webkit-box;
    max-height: 3.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.6rem;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}
@mixin word_limit {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
@mixin title_modal {
    font-size: 16px;
    text-decoration: underline;
    text-transform: capitalize;
    margin: 15px 10px 15px 15px;
    font-weight: 600;
    @include mi767_mx1024 {
        font-size: 14px;
    }
}
@mixin border_radius($radius) {
    border-radius: $radius;
}
@mixin scroll_bar {
    ::-webkit-scrollbar {
        width: 3px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #e4e4e4;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #adadad;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #666666;
    }
}
@mixin show_up {
    display: block;
}
@mixin hidden {
    display: none;
}
@mixin col_resposive($width) {
    width: $width;
}
@mixin button {
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 2px;
    width: auto;
    font-weight: 700;
    height: 35px;
    margin-left: 10px;
    float: right;
    &:last-child {
        margin-right: 0;
    }
    &:hover,
    &:focus {
        color: #fff;
    }
}
